@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    font-weight: weight;
    font-style: normal;
}

.logo{
  padding-top: 20px;
   font-size: 30px;
   text-align: center;
}

.container h1{
  font-size: 40px;
  
}

p{
  font-size: 20px;
  padding-top: 15px;
  color: rgba(0, 0, 0, 0.822);
}

.container{
  padding: 30px;
  display: flex;
  align-items:flex-start;
}

.img{
  padding-right: 40px;
}

.img img {
  border-radius: 30px;
}

h1{
  color: rgba(0, 0, 0, 0.822);
}